# RELEASE BUILDING:
# RUSTFLAGS="-C target-cpu=native" cargo build --release

[package]
name = "big-O"
version = "0.1.0"
edition = "2018"
authors = ["zertyz"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
crossbeam = "0.8"   # scoped threads

[dev-dependencies]
serial_test = "0.5"     # #[serial] annotation in tests to avoid running them in parallel
parking_lot = "0.11"    # way faster than std mutex
#more-asserts = "0.2"    # gives us assert_lt!() macro
#retry = "1.3"           # retry side-effect-less operations -- in our case, retry failed analysis

# see https://deterministic.space/high-performance-rust.html
[profile.release]
lto = "fat"
codegen-units = 1
panic = "abort"     # disables stack traces / stack unwiding
#rustflags = ["-C", "target-cpu=native"]    # this seems not to work
#overflow-checks = true     # might help debug release-only bugs

#[release-dependencies]
#jemallocator = "0.3.2"
